aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
black==25.11.0
click==8.3.0
discord.py==2.6.4
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
python-dotenv==1.2.1
pytokens==0.3.0
setuptools==80.9.0
yarl==1.22.0
